<html>
	
<head>
	</head>
	<body>
		<div class = 'pane'>
		<h1>{{ restaurant.name }}</h1>
		
		{% with messages = get_flashed_messages() %}
      	{% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}

		<a href = "{{url_for('newMenuItem', restaurant_id = restaurant.id )}}">Create New Item</a>
	</br></br>

	<h2>Appetizers</h2>
	<table border=1px>
		{% for i in items %}
		{% if i.course == 'Appetizer' %}
		<tr>
			<td>{{i.name}}</td>
			<td>{{i.description}}</td>
			<td>{{i.price}}</td>
			<td><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Edit</a></td>
			<td><a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Delete</a></td>
		<tr>
		{% endif %}
		{% endfor %}
	</table>
	</br></br>

	<h2>Entrees</h2>
	<table border=1px>
		{% for i in items %}
		{% if i.course == 'Entree' %}
		<tr>
			<td>{{i.name}}</td>
			<td>{{i.description}}</td>
			<td>{{i.price}}</td>
			<td><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Edit</a></td>
			<td><a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Delete</a></td>
		<tr>
		{% endif %}
		{% endfor %}
	</table>
	</br></br>

	<h2>Desserts</h2>
	<table border=1px>
		{% for i in items %}
		{% if i.course == 'Dessert' %}
		<tr>
			<td>{{i.name}}</td>
			<td>{{i.description}}</td>
			<td>{{i.price}}</td>
			<td><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Edit</a></td>
			<td><a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Delete</a></td>
		<tr>
		{% endif %}
		{% endfor %}
	</table>
	</br></br>

	<h2>Beverages</h2>
	<table border=1px>
		{% for i in items %}
		{% if i.course == 'Beverage' %}
		<tr>
			<td>{{i.name}}</td>
			<td>{{i.description}}</td>
			<td>{{i.price}}</td>
			<td><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Edit</a></td>
			<td><a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Delete</a></td>
		<tr>
		{% endif %}
		{% endfor %}
	</table>
	</br></br>
	{% endif %}
	<a href = "{{url_for('newMenuItem', restaurant_id = restaurant.id )}}">Create New Item</a>
	</div>
</body>
</html>
